:root {
    border: 2px solid red;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 300px;
    margin: auto;
    background: #fff;
    padding: 0 30px 30px;
    box-shadow: 1px 3px 4px #ddd;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;

    &__title {
        text-align: center;
        color: #888;
    }

    &__button {
        margin-top: 20px;
        height: 40px;
    }
}